<h1><%= t('.title') %></h1>
<div class="hr1">
	<hr/>
</div>
<br/><br/>

<div class="depot_form">
	<fieldset>
		<legend><%= t('.legend') %></legend>
		<%= render 'form' %>
	</fieldset>
</div>

<br/>
<%= link_to t('.back'), employees_path %>
