/* Global styles */

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}


#employee_list table {
	width: 540px;
	margin: 0 22px 0 22px;
}

#employee_list table tr th {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #608B9F;
	border-bottom: 2px solid #608B9F;
}

#employee_list table tr td {
	border-bottom: 1px dashed #608B9F;
}

#employee_details table {
	width: 320 px;
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
}

#employee_details table tr td {
	padding : .3em 1em;
	vertical-align: center;
}

#employee_details table tr.odd td {
	background:#EBF5FA; /*F7fBFF;*/
}

#employee_details table tr.odd .column1 {
	font:bold "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#employee_details table .column1{
	font:bold "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#timesheet table {
	width: 640px;
	margin: 0 22px 0 22px;
}

#timesheet table tr th {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #608B9F;
	border-bottom: 2px solid #608B9F;
}

#timesheet table tr th.top {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #608B9F;
	border-bottom: 0px;
}

#timesheet table tr th.middle {
	padding: 5px;
	text-align: center;
	border: 0px;
}

#timesheet table tr th.bottom {
	padding: 5px;
	text-align: center;
	border-top: 0px;
	border-bottom: 2px solid #608B9F;
}

#timesheet table tr td {
	border-bottom: 1px dashed #608B9F;
}

#timesheet table tr td.center-align {
	text-align: center;
}

#timesheet table tr td.footer {
	text-align: center;
	border-top: 2px solid #608B9F;
	border-bottom: 2px solid #608B9F;
	background-color: transparent;
}

#timesheet input[type=text] {
	width: 40px;
	border: 0px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

.depot_form fieldset{
	background:#EBF5FA;
}

.depot_form legend{
	color: #DFD;
	background: #608B9F;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.depot_form label{
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
	margin-left: 0.5em;
}

.depot_form submit{
	margin-left: 4em;
}

.depot_form div{
	margin: 0.5em 0;
}

#project_details {
	
}



/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        30%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}