<h1>Editing project</h1>
<div class="hr1">
	<hr/>
</div>
<br/><br/>

<div class="depot_form">
	<fieldset>
		<legend>Enter employee details</legend>
		<%= render 'form' %>
	</fieldset>
</div>
<br/>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
